<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" style="font-family:georgia,garamond,serif;font-size:20px"> </span> Add New car</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addCar()">
    <div class="form-group">
      <label for="Name" style="font-family:georgia,garamond,serif;font-size:12px">NAME</label>
      <input type="text" class="form-control" id="Name" ng-model="car.Name">
    </div>
    <div class="form-group">
      <label for="Length" style="font-family:georgia,garamond,serif;font-size:12px">LENGTH</label>
      <input type="text" class="form-control" id="Length" ng-model="car.Length">
    </div>
    <div class="form-group">
      <label for="Weight" style="font-family:georgia,garamond,serif;font-size:12px">WEIGHT</label>
      <input type="text" class="form-control" id="Weight" ng-model="car.Weight">
    </div>
    <div class="form-group">
      <label for="Color" style="font-family:georgia,garamond,serif;font-size:12px">COLOR</label>
      <input type="text" class="form-control" id="Color" ng-model="car.Color">
      <div class="form-group">
      <label for="Fueltype" style="font-family:georgia,garamond,serif;font-size:12px">FUEL TYPE</label>
      <input type="text" class="form-control" id="Fueltype" ng-model="car.Fueltype">
      <div class="form-group">
      <label for="Cost" style="font-family:georgia,garamond,serif;font-size:12px">COST</label>
      <input type="text" class="form-control" id="Cost" ng-model="car.Cost">
    </div>
	<div class="form-group">
      <label for="Details" style="font-family:georgia,garamond,serif;font-size:12px">Details</label>
      <input type="text" class="form-control" id="Details" ng-model="car.Details">
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default" style="font-family:georgia,garamond,serif;font-size:15px">SAVE</button>
    <a href="#/cars" class="btn btn-default" style="font-family:georgia,garamond,serif;font-size:15px"> CANCEL</a>
</form>		
    <div>
<div>
