<div class="panel panel-default" ng-init="showCar()">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" 
class="glyphicon glyphicon-edit"> </span> <font style="font-family:georgia,garamond,serif;font-size:20px">EDIT CAR DETAILS</font></p>
	</div>
	<div class="panel-body" style="background-color:#EDE7F6">
		<form ng-submit="updateCar()" action="#/cars">
   <div class="form-group">
      <label for="Name" style="font-family:georgia,garamond,serif;font-size:12px" >NAME</label>
      <input type="text" class="form-control" id="Name" ng-model="car.Name" value="car.Name" required>
    </div>
    <div class="form-group">
      <label for="Length" style="font-family:georgia,garamond,serif;font-size:12px">LENGTH (in cms)</label>
      <input type="number" class="form-control" id="Length" ng-model="car.Length" value="car.Length" required>
    </div>
    <div class="form-group">
      <label for="Weight" style="font-family:georgia,garamond,serif;font-size:12px">WEIGHT (in kgs)</label>
      <input type="number" class="form-control" id="Weight" ng-model="car.Weight" value="car.Weight" required>
    </div>
    <div class="form-group">
      <label for="Color" style="font-family:georgia,garamond,serif;font-size:12px">COLOR</label>
      <input type="text" class="form-control" id="Color" ng-model="car.Color" value="car.Color" required>
            </div>
      <div class="form-group">
      <label for="Fueltype" style="font-family:georgia,garamond,serif;font-size:12px;padding-right:30px">FUEL TYPE</label>
       <select ng-model="car.Fueltype" id ="Fueltype" style="font-family:georgia,garamond,serif;font-size:15px" required>
                       <option></option>
                    <option value="Petrol">Petrol</option>
                       <option value="Diseal">Diseal</option>
                    </select>
            </div>
      <div class="form-group">
      <label for="Cost" style="font-family:georgia,garamond,serif;font-size:12px;padding-right:30px">COST (in rs)</label>
      <select ng-model="car.Cost" id="Cost" style="font-family:georgia,garamond,serif;font-size:15px" required>
                              <option></option>
                    <option value="Below 2 Lakhs">Below 2 Lakhs</option>
                       <option value="2-3 Lakhs">2-3 Lakhs</option>
                            <option value="More than 3 Lakhs">More than 3Lakhs</option>
                    </select>
    </div>
	<div class="form-group">
      <label for="Details" style="font-family:georgia,garamond,serif;font-size:12px"> Details </label>
      <input type="text" class="form-control" id="Details" ng-model="car.Details" value="car.Details" required>
    </div>
    <button type="submit"  class="btn btn-default" style="font-family:georgia,garamond,serif;font-size:15px">SAVE</button>
    <a href="#/cars" class="btn btn-default" style="font-family:georgia,garamond,serif;font-size:15px"> CANCEL</a>
</form>		
    </div>
</div>
