<div class="panel panel-default" ng-init="getCars()">
	<div class="panel-heading">
	  <p class="panel-title">
	</div>
	<div class="panel-body">
		<table class="table table-striped" style="font-family:georgia,garamond,serif;font-size:20px">
			<thead>
			<tr>
			  <th>NAME</th>
			  <th>LENGTH</th>
			  <th>WEIGHT</th>
			  <th>COLOR</th>
			  <th>FUEL TYPE</th>
			  <th>COST</th>
			  <th>DETAILS</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="car in cars">
			  <td>{{ car.Name }}</td>
			  <td>{{ car.Length }}</td>
			  <td>{{ car.Weight }}</td>
			  <td>{{ car.Color }}</td>
			  <td>{{ car.Fueltype }}</td>
			  <td>{{ car.Cost }}</td>
			  <td>{{ car.Details}}</td>
			  <td> 
			    <a href="#/cars/{{car._id}}/show" class="btn btn-info"><font style="font-family:georgia,garamond,serif;font-size:15px"> SHOW </font> </a>
			    <a href="#/cars/{{car._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> <font style="font-family:georgia,garamond,serif;font-size:15px">EDIT </font> </a>
			  	<a ng-click="deleteCar(car._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> <font style="font-family:georgia,garamond,serif;font-size:15px"> DELETE </font> </a>
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>
