<script>
function msg()
    {
        alert("Car Deleted Succcesfully");
    }</script>
<div class="panel panel-default" ng-init="getCars()">
	<div class="panel-heading">
	  <p class="panel-title">
	</div>
	<div class="panel-body" style="background-color:#EDE7F6">
		<table class="table table-striped" style="font-family:georgia,garamond,serif;font-size:20px;">
			<thead>
			<tr>
			  <th style="padding:20px">NAME</th>
			  <th style="padding:20px">LENGTH (in cms)</th>
			  <th style="padding:20px">WEIGHT (in kgs)</th>
			  <th style="padding:20px">COLOR</th>
			  <th style="padding:20px">FUEL TYPE</th>
			  <th style="padding:20px">COST (in rs)</th>
			  <th style="padding:20px">DETAILS</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="car in cars">
			  <td>{{ car.Name }}</td>
			  <td>{{ car.Length }}</td>
			  <td>{{ car.Weight }}</td>
			  <td>{{ car.Color }}</td>
			  <td>{{ car.Fueltype }}</td>
			  <td>{{ car.Cost }}</td>
			  <td>{{ car.Details}}</td>
			  <td> 
			    <a href="#/cars/{{car._id}}/show"><button type="button" class="btn btn-info " style="font-family:georgia,garamond,serif;font-size:15px;height:30px;
    width:100px;"> SHOW </button> </a>
			    <a href="#/cars/{{car._id}}/edit" > <button type="button" formaction="#/cars" class="btn btn-success" style="font-family:georgia,garamond,serif;font-size:15px;height:30px;
    width:100px;">EDIT </button> </a>
			  	<a ng-click="deleteCar(car._id)"> <button type="button" class="btn btn-danger" style="font-family:georgia,garamond,serif;font-size:15px;height:30px;width:100px;" onclick="msg()"> DELETE </button> </a>
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>
