<div class="panel panel-default" ng-init="showCar()">
	<div class="panel-heading">
	  <p class="panel-title"> CarDetail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Name: {{ car.Name }}</label>
		 <label class="form-control">Length: {{ car.Length }}</label>
		 <label class="form-control">Weight: {{ car.Weight }}</label>
		 <label class="form-control">Color: {{ car.Color }}</label>
		 <label class="form-control">Fueltype: {{ car.Fueltype }}</label>
		 <label class="form-control">Cost: {{ car.Cost }}</label>
		 <label class="form-control">ID: {{ car._id }}</label>
		<a href="#/cars" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>