<div class="panel panel-default" ng-init="showCar()">
	<div class="panel-heading">
	  <p class="panel-title"><font style="font-family:georgia,garamond,serif;font-size:20px">CAR DETAILS</font></p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">NAME: {{ car.Name }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">LENGTH (in cms): {{ car.Length }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">WEIGHT (in kgs): {{ car.Weight }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">COLOR: {{ car.Color }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">FUEL TYPE: {{ car.Fueltype }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15x">COST (in rs): {{ car.Cost }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">DETAILS: {{ car.Details }}</label>
		 <label class="form-control" style="font-family:georgia,garamond,serif;font-size:15px">ID: {{ car._id }}</label>
		 
		<a href="#/cars" class="btn btn-default" style="font-family:georgia,garamond,serif;font-size:20px"> CANCEL</a>
		</div>
	</form>		
    <div>
<div>
